:root {
    --background-tertiary: #333333;
}

.wrapper-2PSQCG,
.svg-2ifYOU {
  width: 33px;
  height: 33px;
}

.expandedFolderBackground-1kSAf6 {
  left: 8px;
  width: 33px;
}
.titleBar_a934d8::before {
    content: "❤ AWP_Master Games ❤";
    position: absolute;
    top: 7px;
    left: 12px;
    height: 20px;
    color: white;
    animation: mytext 15s linear 0s infinite alternate;
    font-size: 10.90999px;
	font-family: "Times New Roman";
}
.titleBar_a934d8 .wordmark_a934d8 { 
    display: none;
	//уберает надпись дискорд
}